* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f26522;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, "sans-serif";
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none !important;
}

.container {
    width: 960px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Logo */
.logo {
    padding: 30px 0;
    text-align: center;
}

.cta {
    display: inline-block;
    min-width: 140px;
    height: 38px;
    line-height: 38px;
    background: #30302e;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
}

/* === Controls === */
.controls__arrow {
    padding: 55px 0 40px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: rgb(48, 48, 46);
    opacity: 1;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: 0.25s;
}

.control__icon:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(242, 101, 34);
}

.control__img {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
}

/* === Header === */
.banner__main {
    min-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-image: url("../img/banner-bg.png");
    background-size: cover;
    background-position: center;
}

/* Header-top */
.header__top {
    padding: 10px 0;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.header-item__link {
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    color: #f1f1f1;
    transition: 0.4s;
}

.header-item__link:hover {
    color: var(--primary-color);
}

/* Row */
.header__row {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
}

.header__menu {
    cursor: pointer;
}

.header__cta::after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0px;
    border-left: 0.3em solid transparent;
}

.header__cta:hover {
    cursor: pointer;
}

.header__group {
    display: flex;
    align-items: center;
}

.header__group__text {
    min-width: 308px;
    height: 38px;
    font-size: 1.8rem;
    line-height: 1.5;
    border: none;
    outline: none;
    background: transparent;
    padding: 6px 12px;
    background: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 1px solid rgb(206, 212, 218);
}

.header__group__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 38px;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: transparent;
    margin-left: -2px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.header__group__icon:hover {
    cursor: pointer;
}

.header__right__group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__language {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    background-color: #fff;
    border-radius: 5px;
    height: 38px;
}

.header__language__text,
.header__language__img {
    margin-right: 8px;
}

.header__language__text {
    color: #000;
    font-size: 1.4rem;
    transition: 0.25s;
}

.header__language:hover .header__language__text {
    color: var(--primary-color);
}

.header__language__arrow {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.header__language:hover .header__language__arrow {
    color: var(--primary-color);
}

.header__login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__cart,
.header__user {
    display: flex;
}

.header__cart:hover .header__login__icon,
.header__cart:hover .header__login__title {
    cursor: pointer;
    color: var(--primary-color);
}

.header__login__icon {
    color: #fff;
    font-weight: bold;
}

.header__login__title {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    transition: 0.25s;
}

/* === Banner === */
.banner {
    /* position: relative; */
    text-align: center;
    padding: 100px 0 60px;
}

.banner__heading {
    user-select: none;
    padding-bottom: 10px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.banner__buy {
    display: inline-block;
    margin-top: 30px;
    min-width: 170px;
    line-height: 1.75;
    border-radius: 5px;
    color: rgb(250, 250, 250);
    background-color: rgb(37, 37, 37);
    padding: 11px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    transition: 0.25s;
}

.banner__buy:hover {
    opacity: 0.9;
    background: #f26522;
}

.banner__controls {
    position: relative;
    transform: translateY(-500%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__controls__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    opacity: 1;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: rgba(242, 222, 172, 0.8);
    border-radius: 100px;
    border: none;
    transition: 0.3s;
}

.banner__controls__icon:hover {
    cursor: pointer;
    color: #fff;
}

.banner__arrow_next {
    font-size: 1.4rem;
    font-weight: 700;
}

/* === Content === */
/* Fashion */
.content__heading {
    width: 100%;
    padding-bottom: 10px;
    font-size: 40px;
    color: rgb(48, 48, 46);
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 30px;
}

.content-item {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(240, 240, 240) 0px 0px 30px 10px;
    margin-bottom: 20px;
    text-align: center;
}

.content-item__heading {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(48, 48, 46);
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.content-item__price span {
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(242, 101, 34);
    text-align: center;
    margin: 0px;
}

.content-item__thumb {
    margin: 20px 0;
    padding-bottom: 25px;
    max-width: 100%;
    height: 325px;
    object-fit: cover;
}

.content-item__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-item__buy {
    font-size: 16px;
    color: rgb(242, 101, 34);
    background-color: transparent;
    text-align: right;
    font-weight: bold;
    transition: 0.25s;
}

.content-item__buy:hover {
    background-color: transparent;
    color: rgb(38, 38, 38);
}

.content-item__more {
    font-size: 16px;
    color: rgb(38, 38, 38);
    background-color: transparent;
    text-align: right;
    transition: 0.25s;
}

.content-item__more:hover {
    background-color: transparent;
    color: rgb(242, 101, 34);
}

/* === Electronic ===*/
.electronic__thumb {
    height: 277px;
}

/* === Jewellery Accessories === */
.accessories__thumb {
    height: 250px;
}

/* === Cricle === */
.content__cricle {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

.cricle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #414744;
    border-right: 16px solid #f26522;
    border-bottom: 16px solid #414744;
    border-left: 16px solid #f26522;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
